<!DOCTYPE html>
<html>
<head>
    <title>Novo</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Novo</h1>
<form action="/salvar" accept-charset="UTF-8" method="post">
    Nome <br>
    <input name="nome" type="text" value=""/>
    <br>
    E-mail <br>
    <input name="email" type="text" value=""/>
    <br>
    Idade <br>
    <input name="idade" type="text" value=""/>
    <br>
    Telefone <br>
    <input name="telefone" type="text" value=""/>
    <input typeof="hidden" name="id" value="82"/>
    <br>
    <button>Salvar</button>
</form>
</body>
</html>
